.fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameField {
    flex: 2 0 325px;
    padding-right: 10px;
}

.sizeField {
    flex: 1 0 144px;
}

.weightField {
    flex: 1 0 100px;
}

.priceField {
    flex: 1 0 100px;
}

.quantityField {
    flex: 1 0 80px;
}
