.loginForm {
    composes: inOneLine from '../../styles/layout.module.css';
    composes: whiteBack from '../../styles/color.module.css';
    composes: textCentered from '../../styles/layout.module.css';
    width: 399px;
    height: 309px;
    padding: 40px 56px 30px;
}

.loginFormTitle {
    margin: 5px 0 16px;
}

.loginInput {
    composes: input from '../../styles/controls.module.css';
}

.loginFormGroup {
    margin: 0;
    composes: spacedM from '../../styles/layout.module.css';
}

.loginSubmit {
    composes: primaryButton from '../../styles/controls.module.css';
    width: 100%;
}
