.search {
    composes: beigeBack from '../../styles/color.module.css';
    min-height: 100%;
    padding-bottom: 30px;
    min-width: 800px;
}

.searchContent {
    max-width: 785px;
    min-width: 740px;
    margin: 0 auto;
}

.searchLogo {
    composes: greyText from '../../styles/color.module.css';
    composes: textCentered from '../../styles/layout.module.css';
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 40px;
}
