.summary {
    margin-top: 35px;
    position: relative;
}

.checkoutMessage {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    composes: primaryButton from '../../styles/controls.module.css';
    width: 285px;
}

.clientTotal {
    margin-right: 60px;
    margin-top: 12px;
}
